line {
  stroke-linecap: round;
}

.defaultText {
  font-size: 24;
  font-family: Colfax;
  font-weight: regular;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.hLabel {
  font-family: Colfax;
  font-weight: regular;
  font-size: 24;
  fill: white;
  text-anchor: middle;
}

#hour12 {
  x: 50%;
  y: 14%;
}
