line {
  stroke-linecap: round;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.hLabel {
  font-family: Colfax-Medium;
  font-size: 20;
  fill: white;
  text-anchor: middle;
}

#hour12 {x: 50%; y: 13%;}
#hour01 {x: 70%+1; y: 19%-2;}
#hour02 {x: 84%; y: 32%;}
#hour03 {x: 89%; y: 52%+1;}
#hour04 {x: 84%-1; y: 72%;}
#hour05 {x: 70%; y: 86%;}
#hour06 {x: 50%; y: 92%-1;}
#hour07 {x: 30%; y: 86%;}
#hour08 {x: 16%+1; y: 72%;}
#hour09 {x: 11%; y: 52%;}
#hour10 {x: 16%+1; y: 32%+1;}
#hour11 {x: 30%+2; y: 18%;}

#bg_outer {fill: #10334b;}
#bg_inner {fill: "black";}

#battery_percent {
  font-family: Colfax-Bold;
  font-size: 20;
  text-anchor: middle;
  text-length: 4;
}

#battery_arc_bg {
  fill: "fb-green-press";
}

#battery_arg_fg {
  fill: "fb-mint";
}

#weekday {
  font-family: Colfax-Bold;
  font-size: 17;
  text-anchor: middle;
  text-length: 3;
  fill: "red";
}

#date {
  font-family: Colfax;
  font-size: 30;
  text-anchor: middle;
  text-length: 2;
  fill: "white";
}

#month {
  font-family: Colfax-Bold;
  font-size: 17;
  text-anchor: middle;
  text-length: 3;
  fill: "gray";
}
